# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
nbproject/

# Compiled bytecode
/target/

# Maven
log/
target/
.idea/
*.iml

# Gradle
.gradle/
build/

# Dependency directories
bin/
lib/